<h2>ジャンル追加・一覧画面</h2>

<!-- ジャンル新規作成 -->
<%= form_for(@genre, url: '/genres') do |f| %>


<p>
  <span>ジャンル</span>
  <%= f.text_field :name %>
  <!-- 有効・無効 -->
  <%= f.submit '追加' %>
  <% end %>
</p>

<!-- ジャンル一覧 -->
<table>
<tr>
  <theat>
  	<tr>
  		<th>ジャンル</th>
  		<th>状態</th>
  		<th></th>
  	</tr>
  </theat>
	<% @genres.each do |genle| %>
  <tbody>
	<tr>
		<td><%= genle.name %></td>
<!-- 機能後書き換え -->
		<td><%= genle.genres_status %></td>
		<td><%= link_to "編集する","#" %></td>
	</tr>
  </tbody>
  <% end %>
</tr>
</table>

