<!-- 会員一覧表示 -->
  <table class="table table-default">
      <tr>
        <td>会員ID</td>
        <td>氏名</td>
        <td>メールアドレス</td>
        <td>ステータス</td>
      </tr>
    <% customers.each do |customer| %>
      <tr>
          <td><%= customer.id %></td>
<!-- 編集リンク -->
          <td>
          <%= link_to admins_customer_path(customer.id) do %>
          <%= customer.family_name<< customer.last_name %>
          <% end %>
          </td>
          <td><%= customer.email %></td>
          <td>
            <%= customer.deleted_at?? '退会済み': '有効' %>
          </td>
      </tr>
    <% end %>
  </table>

<!-- ページネーション実装 -->
<div class="text-center">
    <%= paginate customers %>
</div>