<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <h3><strong>会員詳細画面</strong></h2>
    </div>
<!-- 会員一覧表示 -->
    <div  class="col-xs-15 , customer_table">
      <table class="table">
        <tr>
          <th>会員ID</th>
          <td><%= @customer.id%>
            <% if @customer.is_active == true %>
              <span class="btn btn-primary btn-xs">
              <%= @customer.is_active?? '有効会員': '退会済み' %>
              </span>
            <% else %>
              <span class="btn btn-danger btn-xs">
              <%= @customer.is_active?? '有効会員': '退会済み' %>
              </span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= @customer.family_name<< @customer.last_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @customer.family_name_kana<< @customer.last_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @customer.postcode %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customer.address%></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customer.phone_number%></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email%></td>
        </tr>
      </table>
    </div>
<!-- 編集・注文一覧リンク -->
    <div class="col-xs-12 , text-right">
      <%= link_to "編集する", edit_admins_customer_path(@customer.id) , class:"btn btn-info , btn-lg "%>
      <%= link_to "注文一覧を見る", admins_orders_path , class:" btn btn-success , btn-lg "%>
    </div>
  </div>
</div>
