<header>
  <style media="screen">
    .col-xs-5 {
      background-color: white;
      border-radius: 7px;
      padding: 30px;
    }
    #form {
      width: 300px;
      margin-left: 30px;
    }
    #form-2 {
      margin-left: 58px;
      width: 300px;
    }
  </style>
</header>

<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <%= form_with model: @order, url: orders_confirm_path, method: :post, local: true do |f| %>
      <h3>注文情報入力</h3>
      <h4>支払い情報</h4>
        <%= f.radio_button :payment_method, :credit, checked: true %>
        <%= f.label "クレジットカード" %><br>
        <%= f.radio_button :payment_method, :bank %>
        <%= f.label "銀行振込" %>
  　  <h3>お届け先</h3>
        <%= radio_button_tag("address_select", 0, checked: true) %>
          <%= f.label "ご自身の住所" %><br>
            <p>　　　〒<%= current_customer.postcode %></p>
            <p>　　　<%= current_customer.address %></p>
            <p>　　　<%= current_customer.family_name %><%= current_customer.last_name %></p>
        <%= radio_button_tag("address_select",1) %>
          <%= f.label "登録済み住所から選択" %><br>
            <p>　　　<%= f.collection_select :destination, @address, :id, :destination %><br></p>
        <%= radio_button_tag("address_select", 2) %>
          <%= f.label "新しいお届け先" %><br>
          <% if @order.errors.any? %>
            <% @order.errors.full_messages.each do |message| %>
              <p style="color: red;"><%= message %></p>
            <% end %>
          <% end %>
            <p><%= f.label "郵便番号" %>
                <%= f.text_field :postcode, id: "form" %>
            </p>
            <p><%= f.label "住所" %>
                    <%= f.text_field :address, size: "50x30", id: "form-2" %>
            </p>
            <p><%= f.label "宛名" %>
                    <%= f.text_field :ship_name, id: "form-2" %>
            </p>
        <%= f.submit "確認画面へ進む", class: "btn btn-default", style: "border: 3px solid #008080;" %>
        <% end %>
    </div>
  </div>
</div>
