<div class="item_index_list">
			<table class="table">
				<thead>
					<tr>
						<td>商品ID</td>
						<td>商品名</td>
						<td>税抜価格</td>
						<td>ジャンル</td>
						<td>ステータス</td>
					</tr>
				</thead>
				<tbody>
					<% items.each do |item| %>
					<tr>
						<td><%= item.id %></td>
						<td><%= link_to (item.name) ,admins_item_path(item) %></td>
						<td><%= converting_to_jpy(item.price) %></td>
						<td><%= item.genre.name%></td>
						<td><%= item.is_sale ?  '販売中' : '売り切れ' %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<div class="text-center">
				<%= paginate items  %>
	        </div>
</div>