<div class="container">
  	<div class="item_new_logo">
	  <h3><strong>商品 詳細画面</strong></h3>
    </div><br>

	<div class="col-xs-6">
	  <div class="item_show_image">
          <%= attachment_image_tag @item , :image , :fill ,500 ,300 ,fallback: 'cake.jpg' %>
	  </div>
	</div>

	<div class="col-xs-6">
		<p class="text-success"><strong><%= flash[:item_new] %></strong></p>
		<p class="text-success"><strong><%= flash[:item_update] %></strong></p>
	  <table class="table">
			<tr>
				<th>商品名</th>
				<td><%= @item.name %></td>
			</tr>
			<tr>
				<th>商品説明</th>
				<td><%= @item.text %></td>
			</tr>
			<tr>
				<th>ジャンル</th>
				<td><%= @item.genre.name%></td>
			</tr>
			<tr>
				<th>税込価格(税抜価格)</th>
				<td><%= converting_to_jpy((@item.price*1.1).floor) %> ( <%= converting_to_jpy(@item.price)%> ) 円</td>
			</tr>
			<tr>
				<th>販売ステータス</th>
				<td><%= @item.is_sale ?  '販売中' : '売り切れ' %></td>
			</tr>
	  </table><br><br>
	   <div class="edit_btn">
	     <%= link_to "編集する" , edit_admins_item_path , class: "btn btn-info btn-lg " %>
	   </div>
    </div>
</div>