<h1>items show</h1>

<%= attachment_image_tag @item , :image ,:fill ,60 ,60 ,fallback: 'noimage.jpg' %>
<%= @item.name %>
<%= @item.text %>
<%= @item.price %>

<%= link_to "編集する" , edit_admins_item_path%>