<div class="container">
   <div class="row">
      <h3><strong>注文一覧画面</strong></h3>
    <div class="text-right">
      <table class="table table-default">
        <tr>
          <td>購入日時</td>
          <td>購入者</td>
          <td>注文個数</td>
          <td>注文ステータス</td>
        </tr>
        <% @orders.each do |order| %>
        <tr>
          <td>
            <!-- order.order_items -->
            <%= link_to admins_order_path(order) do %>
            <%= order.created_at. strftime('%Y/%m/%d/%R') %>
            <% end %>
          </td>
          <td><%= order.customer.family_name << order.customer.last_name %></td>
          <td><%= order.total_quantity %></td>
          <td><%= order.orders_status_i18n %></td>
        </tr>
        <% end %>
      </table>
<!-- ページャ実装 -->
  <div class ="text-center">
  <%= paginate @orders %>
  </div>
    </div>
  </div>
</div>
