<div class="container">
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div  class="col-xs-8">

    <h3 class="order-title-index">
      <strong>注文一覧画面</strong>
    </h3>
<!-- 注文一覧表示 -->
  <table class="table table-default">
    <tr class="active">
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
    <% @orders.each do |order| %>
    <tr>
      <td>
        <!-- order.order_items -->
        <%= link_to admins_order_path(order) do %>
        <%= order.created_at. strftime('%Y/%m/%d/%R') %>
        <% end %>
      </td>
      <td><%= order.customer.family_name << order.customer.last_name %></td>
      <td><%= order.total_quantity %></td>
      <td><%= order.orders_status_i18n %></td>
    </tr>
    <% end %>
  </table>
<!-- ページャ実装 -->
  <div class ="text-center">
  <%= paginate @orders %>
  </div>
  </div>
</div>
<!--  余白 -->
<div class="col-xs-2">
</div>
