<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-link", style="background-color: white;">
        <%= link_to root_path ,class: "header_logo" do %><% end %>
        <nav class="nav">
          <ul>
          <% if customer_signed_in? %>
               <li>ようこそ、<%= current_customer.family_name %>さん！</li>
               <li><%= link_to "マイページ",customer_path(current_customer) , class: "btn btn-default btn-lg" %></li>
               <li><%= link_to "商品一覧", items_path, class: "btn btn-default btn-lg" %></li>
               <li><%= link_to "カート", cart_items_path(@item), class: "btn btn-default btn-lg" %></li>
               <li> <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}, class: "btn btn-default btn-lg" %></li>
           <% elsif admin_signed_in? %>
                  <li><%= link_to "商品一覧" , admins_items_path ,  class: "btn btn-default btn-lg" %></li>
                 <li> <%= link_to "会員一覧" , admins_customers_path , class: "btn btn-default btn-lg" %></li>
                 <li> <%= link_to "注文履歴一覧" , admins_orders_path , class: "btn btn-default btn-lg" %></li>
                 <li> <%= link_to "ジャンル管理" , admins_genres_path , class: "btn btn-default btn-lg" %></li>
                 <li> <%= link_to "管理者ログアウト" , destroy_admin_session_path ,method: :delete , class: "btn btn-default btn-lg" %></li>
          <% else %>
            <li> <%= link_to "商品一覧", items_path, class: "btn btn-default btn-lg" %></li>
            <li> <%= link_to "新規登録", new_customer_registration_path , class: "btn btn-default btn-lg" %></li>
             <li><%= link_to "ログイン", new_customer_session_path, class: "btn btn-default btn-lg" %></li>
          <% end %>
          </ul>
      </nav>
    </header>
    <div id="wrapper">
      <% if admin_signed_in? %>
    <div class=" search_box , text-right">
      <%= form_tag(search_path, method: :get) do %>
      <%= text_field_tag 'search[content]' %>
      <%= select_tag 'search[model]',options_for_select({ "Customer" => "customer", "Item" => "item" }) %>
      <%= select_tag 'search[method]', options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" } ) %>
      <%= submit_tag '検索' , class: "btn btn-info"%>
      <% end %>
    </div><% end %>
      <%= yield %>
       <footer class="footer">
　　    </footer>
    </div>
  </body>
</html>
