<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-default">
        <%= link_to root_path ,class: "header_logo" do %>
        <% end %>
      </div>
      <nav>
        <div class="nav">
          <% if customer_signed_in? %>

            <p>ようこそ、<%= current_customer.family_name %>さん！</p>

            <%= link_to "マイページ", "#", class: "btn btn-default" %>
            <%= link_to "商品一覧", items_path, class: "btn btn-default" %>
            <%= link_to "カート", cart_items_path(@item), class: "btn btn-default" %>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-default" %>
          <% elsif  %>
            <% if admin_signed_in? %>
              <%= link_to "商品一覧" , admins_items_path ,  class: "btn btn-default" %>
              <%= link_to "会員一覧" , admins_customers_path , class: "btn btn-default" %>
              <%= link_to "注文履歴一覧" , admins_orders_path , class: "btn btn-default" %>
              <%= link_to "ジャンル管理" , admins_genres_path , class: "btn btn-default" %>
              <%= link_to "管理者ログアウト" , destroy_admin_session_path ,method: :delete , class: "btn btn-default" %>
            <% end %>
          <% elsif %>
            <%= link_to "商品一覧", items_path, class: "btn btn-default" %>
            <%= link_to "新規登録", new_customer_registration_path , class: "btn btn-default" %>
            <%= link_to "ログイン", new_customer_session_path, class: "btn btn-default" %>
          <% end %>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
